main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
  /* height: calc(100vh - 70px); */
  transition: all 2s ease-in;
  margin: 100px 0;
}

.main-body {
  width: 70%;
  margin-right: 15%;
  line-height: 2;
  color: #bdcdce;
}

.greet {
  font-size: 5vw;
  font-weight: 500;
}

.main-body h2 {
  font-size: 1.7vw;
  padding: 5px 0px;
  font-variant: small-caps;
}

main a {
  text-decoration: none;
}

.main-btn {
  padding: 7px 15px;
  border-radius: 0px 10px;
  color: #d6fcff;
  background-color: transparent;
  border: 1px solid #d6fcff;
  cursor: pointer;
  margin-top: 20px;
  letter-spacing: 1.5px;
  font-variant: small-caps;
  font-weight: 600;
  box-shadow: 2px 2px 1px 2px rgba(65, 65, 65, 0.7),
    -2px -2px 30px rgba(0, 0, 0, 0.7);
}
main a button:hover {
  transform: scale(1.12);
}

.social {
  margin-top: 20px;
}

.social * {
  margin: 0 5px;
  font-size: 24px;
}

main img {
  object-fit: contain;
  width: 80%;
  border: 2px dashed #d6fcff;
  border-radius: 10px;
}

@media screen and (max-width: 720px) {
  main {
    flex-direction: column-reverse;
    height: fit-content;
    padding: 0px 27px;
    margin: 20px 0;
  }
  .main-body {
    width: 100%;
    margin-right: 0;
  }
  .greet {
    font-size: 10vw;
  }

  .main-body h2 {
    font-size: 4vw;
  }

  .main-body p {
    text-align: justify;
    line-height: 1.6;
    font-size: 3vw;
  }

  .main-image {
    text-align: center;
    margin: 50px 0;
  }
  main img {
    object-fit: contain;
    width: 30%;
  }
}
